.question-bubble
  background-color: #e0e0e0
  padding: 20px
  margin-top: 5px
  margin-bottom: 5px

  .up-vote,
  .down-vote
    width: 0
    height: 0
    cursor: pointer

  .up-vote
    border-left: 20px solid transparent
    border-right: 20px solid transparent
    border-bottom: 20px solid #f00

  .down-vote
    border-left: 20px solid transparent
    border-right: 20px solid transparent
    border-top: 20px solid #f00

