.question-bubble
  +border-radius(18px)
  background: white 
  position: relative
  padding: 30px
  font-size: 16px
  margin: 20px 5px 20px 10px
  z-index: 10
  &:before
    content: ""
    position: absolute
    z-index: -1
    bottom: 3px 
    left: -35px
    height: 50px
    width: 50px
    +border-radius(50px)
    background: $white 
  &:after
    content: ""
    position: absolute
    z-index: -1
    bottom: 3px 
    left: -5px
    width: 35px
    height: 50px
    background: $bg
    -webkit-border-bottom-right-radius: 22px 50px
    -moz-border-radius-bottomright: 22px 50px
    border-bottom-right-radius: 22px 50px
    +transform(translate(-30px, -2px))

  .question-container
    @extend .clearfix
  .question
    float: left
    width: 80%
    @media screen and (min-width: $screen-sm)
      width: 90%
  .actions
    @extend .clearfix
    float: right
    text-align: center
    width: 20%
    @media screen and (min-width: $screen-sm)
      width: 10%

  .up-vote,
  .down-vote
    background: transparent
    border: none
    display: inline-block
    width: 0
    height: 0
    margin: 0
    padding: 0
    cursor: pointer
    &:hover,
    &:focus,
    &:active
      outline: none

  .up-vote
    border-left: 20px solid transparent
    border-right: 20px solid transparent
    border-bottom: 20px solid $light-grey
    &:hover
      border-bottom-color: lighten($green, 5%)
    &.voted,
    &:active
      border-bottom-color: $light-green

  .score
    margin: 25px 0 28px 0
    font-size: 18px
    color: $grey

  .down-vote
    border-left: 20px solid transparent
    border-right: 20px solid transparent
    border-top: 20px solid $light-grey 
    &:hover
      border-top-color: lighten($red, 5%)
    &.voted,
    &:active
      border-top-color: $light-red

