#landing-page {
  background-color: blue; }

.question-bubble {
  background-color: #e0e0e0;
  padding: 20px;
  margin-top: 5px;
  margin-bottom: 5px; }
  .question-bubble .up-vote, .question-bubble .down-vote {
    width: 0;
    height: 0;
    cursor: pointer; }
  .question-bubble .up-vote {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #f00; }
  .question-bubble .down-vote {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #f00; }

#question-index {
  margin-top: 5px; }

body {
  background-color: #EFEFEF; }
