doctype html
html
  head
    script(src="/shims.js")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/yeti/bootstrap.min.css")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    link(href="/assets/stylesheets/styles.min.css", rel="stylesheet")
  body
    #content!= content

    script(type='text/javascript', src="/app.js")
    if props
      script(type='text/javascript').
        dataCache.setObject(!{props});
